@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
   background-color: var(--almost-white);
   font-size: 18px;
   font-family: "Epilogue", sans-serif;
   display: flex;
   flex-direction: column;
    gap: 24px;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 36px 54px;
    font-weight: 500;
}
header .header-left{
    display: flex;
    gap: 72px;
}

.header-left nav ul {
    display: flex;
    list-style: none;
    gap: 48px;
}

.header-left nav ul a,
.header-right a{
    text-decoration: none;
    color: var(--medium-gray);
}
.header-left nav ul a:hover,
.header-right a:hover{
    color: var(--almost-black);
}
.header-right .register-btn{
    margin-left: 48px;
    border: 1px solid var(--medium-gray);
    padding: 8px 16px;
    border-radius: 8px;
}

.header-right .register-btn:hover{
    border: 1px solid var(--almost-black);
 
}

main{
    max-width: 1300px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 64px;
    flex-wrap: wrap;
    position: relative;

}
main .content,
main .img-wrapper{
    flex: 1;
    
}
main .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 50px;
    gap: 64px;
    
    color: var(--medium-gray);
}

main .content h1{
    font-weight: 800;
    font-size: 64px;
    color: var(--almost-black);
}

main .content p {
    line-height: 150%;
    font-weight: 500;
}
main .content .learn-more-btn {
    background-color: var(--almost-black);
    display: inline-flex;
    padding: 20px 32px;
    text-decoration: none;
    border-radius: 12px;
    color: var(--almost-white);
    font-weight: 500;
    
}
main .content .brands ul {
    display: flex;
    position: absolute;
    bottom: 0;
    list-style: none;
    gap: 36px;
    align-items: center;

}


main .img-wrapper img{
    width: 100%;
    object-fit: cover;
}



:root{
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
}

@media screen and (min-width:1060px) and (max-width:1375px) {
    main{
        gap: 0px;
        width: 90%;
    }
   
    
}
@media screen and (min-width:768px) and (max-width:1060px) {
    main{
        gap: 5px;
        width: 90%;
    }
    main .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding: 10px;
        gap: 20px;
        color: var(--medium-gray);
    }
    main .content .learn-more-btn{
        margin-bottom: 15px;
    }
    
    main .content .brands ul {
        gap: 0px;     
    }
    main .content .brands ul li,
    main .content .brands ul li a img  {
        width: 70%;    
    }
   
    
}


@media screen and (max-width: 768px) {
    header {
      justify-content: space-between;
      padding: 20px 30px;
    }
  
    /* Navbarda logo ve menü ikonu */
    .header-left nav {
      display: none;
    }
  
    .header-right {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  
    .header-right .menu-icon {
      display: block;
      width: 24px;
      height: 24px;
      background: url('images/menu-icon.svg') no-repeat center;
      background-size: cover;
    }
  
    .register-btn {
      display: none;
    }
    main .content{
        padding: 0;
        gap: 16px;
    }
  
    main {
      flex-direction: column;
      flex-wrap: wrap-reverse;
    }
  
   

   
  }
  