@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    font-family: "Hanken Grotesk", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--pale-blue);
    gap: 36px;
   
}

main{
    display: flex;
    width: 600px;
    background-color: var(--white);
    overflow: hidden;
    border-radius: 24px;
     
}
.result,
.summary{
    flex: 1;
    padding: 36px;
    border-radius: 24px;
 
}

.result{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    
    text-align: center;
    background: linear-gradient(var(--light-slate-blue),var(--light-royal-blue));
}

.result h2,
.result p{
    color: var(--light-lavender);
   
}

.result .score-wrapper{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 145px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    background: linear-gradient(var(--violet-blue),var(--persian-blue));
    font-size: 12px;
    font-weight: 700;
}

.result .score-wrapper .score {
    color: var(--white);
    font-size: 48px;
    font-weight: 800;
}

.text h1{
    color: var(--white);
    font-weight: 500;
    margin-bottom: 12px;
}

/* Start of the Summary Part*/

.summary{
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 12px;
    
}
.summary h2 {
    color: var(--dark-gray-blue);
    margin-bottom: 16px ;
}
.summary .category{
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    color: var(--dark-gray-blue);
    padding: 12px;
}

.summary .category .cat{
    display: flex;
    gap: 12px;
    
    
}
.summary .category p span{
    font-weight: 800;

}

.summary .reaction{
    background-color: var(--light-red-background);  
}
.summary .reaction .cat{
    color: var(--light-red);  
}
.summary .memory{
    background-color: var(--orangey-yellow-background);  
}
.summary .memory .cat{
    color: var(--orangey-yellow);  
}
.summary .verbal{
    background-color: var(--green-teal-background);  
}
.summary .verbal .cat{
    color: var(--green-teal);  
}
.summary .visual{
    background-color: var(--cobalt-blue-background);  
}
.summary .visual .cat{
    color: var(--cobalt-blue);  
}

.continue{
    text-decoration: none;
    background-color: var(--dark-gray-blue);
    text-align: center;
    color: var(--white);
    padding: 12px;
    font-size: 16px;
    border-radius: 36px;
    margin-top: 16px;
}

.continue:hover{
    opacity: 0.9;
}

:root{

/*Primary*/

--light-red: hsl(0, 100%, 67%);
--light-red-background:hsla(0, 100%, 67%, 0.1);

--orangey-yellow: hsl(39, 100%, 56%);
--orangey-yellow-background: hsla(39, 100%, 56%, 0.1);

--green-teal: hsl(166, 100%, 37%);
--green-teal-background: hsla(166, 100%, 37%, 0.1);

--cobalt-blue: hsl(234, 85%, 45%);
--cobalt-blue-background: hsla(234, 85%, 45%, 0.1);

/*Gradients*/

--light-slate-blue: hsl(252, 100%, 67%); /* (background) */
--light-royal-blue: hsl(241, 81%, 54%); /* (background) */

--violet-blue: hsla(256, 72%, 46%, 1); /*(circle)*/
--persian-blue: hsla(241, 72%, 46%, 0); /*(circle)*/



/*Neutral*/

--white: hsl(0, 0%, 100%);
--pale-blue: hsl(221, 100%, 96%);
--light-lavender: hsl(241, 100%, 89%);
--dark-gray-blue: hsl(224, 30%, 27%);

}

@media screen and (max-width:768px) {

    body{
        min-height: auto;
    }

    main{
        flex-direction: column;
        width: 100%;
    }
    .attribution{
        display: none;
    }
    main,
    .result{
        border-radius: 0 0 24px 24px;
    }

    
}