@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
   /* background-color: var(--light-grayish-blue);temp*/
    font-family: "Public Sans", sans-serif;
    position: relative;
    overflow-x: hidden;
}

/* Header */

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 16px 0;
    background-color: var(--white);
    position: fixed;
    width: 100vw;
    z-index: 100;
    width: 100%;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 36px;
}
nav ul a {
    color: var(--grayish-blue);
    position: relative; /* Border-bottom'u aşağıya taşımak için relative konum ekliyoruz */

}
nav ul a:hover::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px; /* Border kalınlığı */
    background: linear-gradient(to right, var(--lime-green), var(--bright-cyan)); /* Border rengi */
    bottom: -26px; /* Border-bottom'u header'ın altına yerleştirmek için negatif değer veriyoruz */
}

.invite-btn{
    background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
    color: var(--white);
    padding: 12px 28px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}
.invite-btn:hover{
    opacity: 0.8;
}

/* First Section*/

.first-section{
    background-color: var(--very-light-gray);/*temp*/
    display: flex;
    gap: 36px;
    height: 84vh;
}

.first-section .left,
.first-section .right{
    flex: 1;
}

.first-section .left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 32px;
    padding: 250px;
}

p {
    color: var(--grayish-blue);
    line-height: 150%;
}

.first-section .left h1 {
    color: var(--dark-blue);
    font-weight: 400;
    font-size: 42px;
}

.bg-intro{
    z-index: 1;
    position: absolute;
    top: -185px;
    right: -450px;
   
}
.mockups-img{
    z-index: 10;
    position: absolute;
    right: -130px;
    top: -50px;
}

/* Second Section */

.second-section{
    background-color: var(--light-grayish-blue);/*temp*/
    padding: 100px 150px 100px 250px;

}

.second-section .header{
    margin-bottom: 48px;
}

.second-section .header h1 {
    color: var(--dark-blue);
    font-weight: 300;
    font-size: 36px;
    margin-bottom: 32px;
}

.second-section .cards{
    display: flex;
    gap: 54px;
    
}

.second-section .cards .card{
    flex: 1;
    display: flex;
    flex-direction: column;  
    align-items: start;
    gap: 32px;
}

.second-section .cards .card h3{
    color: var(--dark-blue);
    font-weight: 400;
    font-size: 24px;
}

/* Last Section */

.last-section{
    background-color: var(--very-light-gray);/*temp*/
    padding: 100px 150px 100px 250px;

}
.last-section h1 {
    color: var(--dark-blue);
    font-weight: 300;
    font-size: 36px;
    margin-bottom: 48px;
}

.last-section .cards{
    display: flex;
    gap: 36px;
}

.last-section .cards .card{
    flex: 1;
    background-color: var(--white);
    display: flex;
    flex-direction: column;   
    align-items: center;
    
    border-radius: 6px;
    overflow: hidden;
}

.last-section .cards .card img{
    width: 100%;
    height: 100%;
}

.last-section .cards .card .article-text{
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.last-section .cards .card .article-text h4{
    color: var(--dark-blue);
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
}
.last-section .cards .card .article-text h4:hover{
    color: var(--lime-green);

}

/* Footer */

footer{
    background-color: var(--dark-blue);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 48px;
    
}

footer .logo {
    display: flex;
    flex-direction: column;
    gap: 64px;
    
}

footer .logo-social{
    display: flex;
    align-items: center;
    gap: 128px;
}
footer .logo-social .socials{
    display: flex;
    align-items: center;
    gap: 12px;
}


footer .links {
    display: flex;
    gap: 128px;
    
}

footer .links ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

footer .links ul a{
    color: var(--light-grayish-blue);
    font-size: 14px;
    font-weight: 300;
   
}
footer .links ul a:hover{
    color: var(--lime-green);
}

:root{
 /* Primary*/

    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);

/* Neutral*/

    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}